<header>
   <!-- header inner -->
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-3 logo_section">
            <div class="full">
               <div class="center-desk">
                  <div class="logo"> <a href="index"><img src="images/logo.png" alt="#"></a> </div>
               </div>
            </div>
         </div>
         <div class="col-lg-9">
            <div class="menu-area">
               <div class="limit-box">
                  <nav class="main-menu">
                     <ul class="menu-area-main">
                        <li  class="<%= setState('index', page) %>" >
                           <a href="index">Home</a>
                        </li>
                        <li class="<%= setState('about', page) %>">
                           <a href="about">About</a>
                        </li>
                        <li class="<%= setState('marketing', page) %>">
                           <a href="marketing">Marketing</a>
                        </li>
                        <li class="<%= setState('blog', page) %>">
                           <a href="blog">Blog</a>
                        </li>
                        <li class="<%= setState('contact', page) %>">
                           <a href="contact">Contact us</a>
                        </li>
                        <li>
                           <a href="#">Login</a>
                        </li>
                        <li>
                           <a href="#">Register</a>
                        </li>
                        <li>
                           <a href="#"><img src="images/search_icon.png" alt="#" /></a>
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end header inner -->
</header>
