<!-- loader  -->
<div class="loader_bg">
    <div class="loader"><img src="/images/loading.gif" alt="" /></div>
 </div>
 <!-- end loader -->
 <!-- header -->
 <header>
    <!-- header inner -->
    <div class="container-fluid">
       <div class="row">
          <div class="col-lg-3 logo_section">
             <div class="full">
                <div class="center-desk">
                   <div class="logo"> <a href="/"><img src="/images/logo.png" alt="#"></a> </div>
                </div>
             </div>
          </div>
          <div class="col-lg-9">
             <div class="menu-area">
                <div class="limit-box">
                   <nav class="main-menu">
                      <ul class="menu-area-main">
                         <li class="<%= page === 'home' ? 'active' : ''%>">
                            <a href="/">Home</a>
                         </li>
                         <li class="<%= page === 'about' ? 'active' : ''%>">
                            <a href="/about">About</a>
                         </li>
                         <li class="<%= page === 'marketing' ? 'active' : ''%>">
                            <a href="/marketing">Marketing</a>
                         </li>
                         <li class="<%= page === 'blog' ? 'active' : ''%>">
                            <a href="/blog">Blog</a>
                         </li>
                         <li class="<%= page === 'contact' ? 'active' : ''%>">
                            <a href="/contact">Contact us</a>
                         </li>
                         <li class="<%= page === 'login' ? 'active' : ''%>">
                            <a href="/login">Login</a>
                         </li>
                         <li class="<%= page === 'register' ? 'active' : ''%>">
                            <a href="/register">Register</a>
                         </li>
                         <li>
                            <a href="/#"><img src="/images/search_icon.png" alt="#" /></a>
                         </li>
                      </ul>
                   </nav>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- end header inner -->
 </header>
 <!-- end header -->